---
permalink: baseurl/:page.title
---

<!DOCTYPE html>
<html lang="eng">

  {% include head.html %}


  <body> 

  {% include header.html %}
  {% include download.html %}  
    <main class="page-content" aria-label="Content">
    
      <div class="wrapper">
      <nav>
        <ul>
          {% for page in site.pages %}
          <li class="tag-h1"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <section>
        {{ content }}
        </section>
      </div>
    </main>

    
{% include footer.html %}
  </body>

</html>
