---
layout: default
---

{% include download.html %}
<div class="home">

  <h1 class="page-heading"></h1>
  
  <p>
  	Welcome to Gardner, the Personal Publication Platform available from Perseids. Create an manage your own online treebank collection, in a light wieght and easy way. Follow our instructions in the Documentation tab to get started, or click around the demo site to see how things work. 
  </p>
  {{ content }}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

